.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  margin-top: 200px;
}

.calculator:hover {
  cursor: pointer;
}

.display {
  width: 318px;
  height: 70px;
  border: 1px solid black;
  background-color: lightsteelblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 320px;
}

.leftSide {
  flex: 75%;
  height: 100%;
  background-color: burlywood;
}

.rightSide {
  flex: 25%;
  height: 100%;
  background-color: chartreuse;
}

#seeResult {
  background-color: black;
  width: 238px;
  height: 78px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.numbers {
  width: 240px;
  height: 240px;
  background-color: chocolate;
  display: flex;
  flex-wrap: wrap;
}

#individualNumber, #operations {
  background-color: whitesmoke;
  width: 78px;
  height: 78px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#operations {
  background-color: crimson;
}